<div class="header"><%= link_to '&larr; All Advertisements'.html_safe, advertisements_path, :class => "nav-link" %> Editing advertisement <%=@ad.title%></div>

<div class="content">

  <%= render 'form' %>

</div>
